@import "lib/reset.less";

.product-info {
  border: 1px solid #919191;
  padding-left: 33px;
  padding-bottom: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}  

.product-info:hover {
  box-shadow: 0 0 10px rgba(88, 88, 88, 0.5); /* Adiciona uma sombra */
}

h2.name {
  font-weight: 900;
}

.name,
.price,
.stock {
  color: #000;
  font-family: monospace;
}