<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="goit" translate="label" sortOrder="10">
            <label>Goit</label>
        </tab>
        <section id="product_home" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Product Home</label>
            <tab>goit</tab>
            <resource>Goit_ShowProductHome::config_product_home</resource>
            <group id="display_settings" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Display Settings</label>
                <field id="products_to_display" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Products to Display in Home</label>
                    <source_model>Goit\ShowProductHome\Model\Config\Source\ProductList</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
